<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptowährungen</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<h1>Cryptoliste</h1>
<table class="table" id="cryptotable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Preis in €</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>

    <hr class="border-2 border-top border-info">
    <a th:href="@{/web/v1/crypto/insert}" class="btn btn-info" role="button">Crypto einfügen</a>
    <hr class="border-2 border-top border-info">

    <tr th:each="crypto: ${alleCryptos}">
        <td th:text="${crypto.id}"></td>
        <td th:text="${crypto.name}"></td>
        <td th:text="${crypto.preis}"></td>
        <td>
            <a th:href="@{/web/v1/crypto/update/{id}(id=${crypto.id})}" class="btn btn-info" role="button">Crypto bearbeiten</a>
            <a th:href="@{/web/v1/crypto/delete/{id}(id=${crypto.id})}" class="btn btn-warning" role="button">Crypto löschen </a>
            <a th:href="@{/web/v1/wallets}" class="btn btn-info" role="button">Wallets anzeigen</a>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>

