<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptowährungen</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<h1>Cryptoliste</h1>
<table class="table" id="cryptotable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Preis in €</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="crypto: ${alleCryptosSeitenweise}">
        <td th:text="${crypto.id}"></td>
        <td th:text="${crypto.name}"></td>
        <td th:text="${crypto.preis}"></td>
        <td>
            <a th:href="@{/web/v1/crypto/update/{id}(id=${crypto.id})}" class="btn btn-info" role="button">Crypto bearbeiten</a>
            <a th:href="@{/web/v1/crypto/delete/{id}(id=${crypto.id})}" class="btn btn-warning" role="button">Crypto löschen </a>
            <a th:href="@{/web/v1/wallets}" class="btn btn-info" role="button">Wallets anzeigen</a>
        </td>
    </tr>
    </tbody>

</table>

<div class="row mt-3">
    <div class="col-sm-1">
        <h5>Seite</h5>
    </div>
    <div class="col-sm-11">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" th:if="${alleCryptosSeitenweise.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/allcryptos(page=${pageNumber - 1}, size=${alleCryptosSeitenweise.size})}" th:text="${pageNumber - 1}"></a>
            </li>
        </ul>
    </div>
</div>

<a class="btn btn-info" th:href="@{/web/v1/crypto/insert}">Crypto hinzufügen</a>

<!--
altanative für Pageing funktioniert aber nicht da die Eigenschaften wie firstPage nicht erkannt werden
<nav>
    <ul class="pagination">
        <li class="page-item" th:classappend="${cryptosPage.firstPage} ? disabled : ''">
            <a class="page-link" th:href="@{/cryptos(page=0)}">&laquo; First</a>
        </li>
        <li class="page-item" th:classappend="${cryptosPage.previousPageable} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/cryptos(page=${cryptosPage.number - 1})}">&laquo; Previous</a>
        </li>
        <li class="page-item" th:each="page : ${cryptosPage.getVisiblePages()}">
            <a class="page-link" th:href="@{/cryptos(page=${page})}" th:text="${page.number + 1}"></a>
        </li>
        <li class="page-item" th:classappend="${cryptosPage.nextPageable} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/cryptos(page=${cryptosPage.number + 1})}">Next &raquo;</a>
        </li>
        <li class="page-item" th:classappend="${cryptosPage.lastPage} ? disabled : ''">
            <a class="page-link" th:href="@{/cryptos(page=${cryptosPage.totalPages - 1})}">Last &raquo;</a>
        </li>
    </ul>
</nav>
-->


</body>
</html>

