<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="de">
<head>
    <meta charset="UTF-8">
    <title>Alle Benutzer anzeigen</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid mt-3">
    <h1>Benutzerliste</h1>

    <hr class="border-2 border-top border-info">
    <a th:href="@{/web/v1/benutzer/insert}" class="btn btn-info" role="button">Benutzer einfügen</a>
    <a th:href="@{/web/v1/wallets}" class="btn btn-info" role="button">Zu den Wallets</a>
    <hr class="border-2 border-top border-info">

    <table class="table" id="usertable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email-Adresse</th>
            <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${allUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/web/v1/benutzer/update/{id}(id=${user.id})}" class="btn btn-info" role="button">bearbeiten</a>
                <a th:href="@{/web/v1/benutzer/delete/{id}(id=${user.id})}" class="btn btn-warning" role="button">löschen</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>
