<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="de">
<head>
    <meta charset="UTF-8">
    <title>Alle Wallets</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <h1>Walletliste</h1>
    <hr class="border-2 border-top border-info">
    <a th:href="@{/web/v1/crypto}" class="btn btn-info" role="button">Cryptoliste</a>
    <a th:href="@{/web/v1/benutzer}" class="btn btn-info" role="button">Benutzerliste</a>
    <hr class="border-2 border-top border-info">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="wallet: ${allWallets}">
            <div class="card text-bg-light h-100 ml-2">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2 g-2">
                        <div class="col">
                            <h5 class="card-title" th:text="${wallet.name}"></h5>
                        </div>
                        <div class="col">
                            <h5 th:text="'Guthaben: ' + ${wallet.benutzer.getGuthaben()} + '€'"></h5>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-2 mt-2 mb-3">
                        <div class="col">
                            <h5 th:text="${wallet.cryptoGuthaben}"></h5>
                        </div>
                        <div class="col">
                            <h5 th:text="${wallet.calculateEuroPreis(wallet.crypto.getPreis())} + '€'"></h5>
                        </div>
                    </div>
                    <a th:href="@{/web/v1/wallets/buycrypto/{id}(id=${wallet.id})}" class="btn btn-success">Kaufen</a>
                    <a th:href="@{/web/v1/wallets/sellcrypto/{id}(id=${wallet.id})}" class="btn btn-danger ms-3">Verkaufen</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>