<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto updaten</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <h1>Crypto updaten</h1>

    <hr class="border-2 border-top border-info">
    <a th:href="@{/web/v1/crypto/allcryptos}" class="btn btn-info" role="button">Cryptos anzeigen</a>
    <hr class="border-2 border-top border-info">

    <form th:object="${crypto}" th:action="@{/web/v1/crypto/update}" method="post">

        <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id" name="id" th:field="*{id}" readonly>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
            <div class="form-text" th:if="${#fields.hasErrors('name')}"
                 th:errorclass="error" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label for="preis" class="form-label">Preis</label>
            <input type="text" class="form-control" id="preis" name="preis" th:field="*{preis}">
            <div class="form-text" th:if="${#fields.hasErrors('preis')}"
                 th:errorclass="error" th:errors="*{preis}"></div>
        </div>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Crypto aktualisieren</button>
    </form>
</div>

</body>
</html>
