<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="de">
<head>
  <meta charset="UTF-8">
  <title>Crypto Kaufen</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <h1>Crypto Kaufen</h1>

  <hr class="border-2 border-top border-info">
  <a th:href="@{/web/v1/wallets}" class="btn btn-info" role="button">Wallets anzeigen</a>
  <hr class="border-2 border-top border-info">

  <form th:object="${wallet}" th:action="@{/web/v1/wallets/buycrypto}" method="post">

    <input type="text" class="form-control" id="id" name="id" th:field="*{id}" hidden readonly>

    <input type="text" class="form-control" id="crypto" name="crypto" th:field="*{crypto}" hidden readonly>

    <input type="text" class="form-control" id="benutzer" name="benutzer" th:field="*{benutzer}" hidden readonly>

    <input type="text" class="form-control" id="name" name="name" th:field="*{name}" hidden readonly>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
      <div class="col ps-4 pt-3 g-3">
        <h5 class="mb-3" th:text="'Crypto: ' + ${wallet.crypto.getName()}"></h5>
        <h5 class="mb-3" th:text="'Crypto Preis: ' + ${wallet.crypto.preis} + '€'"></h5>
        <h5 th:text="'Dein Guthaben: ' + ${wallet.benutzer.guthaben} + '€'"></h5>
      </div>

      <div class="col-auto">
        <label for="cryptoGuthaben" class="form-label">Menge:</label>
          <input type="text" class="form-control mb-2" id="cryptoGuthaben" name="cryptoGuthaben" th:field="*{cryptoGuthaben}">
          <div class="form-text" th:if="${#fields.hasErrors('cryptoGuthaben')}"
               th:errorclass="error" th:errors="*{cryptoGuthaben}">
          </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Crypto Kaufen</button>
      </div>
      <div class="col-auto">

      </div>
    </div>


  </form>

</div>
</body>
</html>