<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${errortitle}">Fehler!</h1>
<p th:text="${errormessage}">Es ist ein Fehler aufgetreten!</p>
<a th:href="@{/web/v1/crypto}">zurück</a></td>
</body>
</html>